@import '~assets/css/base/variables.scss';

.column-wrap {
  margin: 0 5px;
  //padding: 0 5px;
  min-width: 272px;
  height: 100%;
  position: relative;

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 10px;

    &::after {
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
}

.column {
  background-color: $color-grey-200;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  max-width: 272px;
}

.column-header {
  min-height: 40px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  padding: 5px 8px;
  cursor: text;

  &__title {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $color-blue-800;

    &-wrap {
      display: flex;
      align-items: center;
      width: 100%;
    }

    margin: 0;
  }

  &__input {
    font-size: 14px;
  }

  .delete-btn-wrap {
    display: none;
  }

  &:hover {
    .delete-btn-wrap {
      display: flex;
    }
  }
}

.column-body {
  padding: 0 5px;
  margin: 0 5px;
}

.column-footer {
  flex: 0 0 auto;
  padding: 5px 8px 8px;
  position: relative;
  min-height: 20px;
}

.tasks {
  display: flex;
  flex-flow: column;
}
